---
layout: base.liquid
title: Contact Success
---
<div class="w-full mx-auto text-center my-10 space-y-6">
    <h1 class="text-3xl">Contact Success!</h1>
    <h2 class="text-xl">We appreciate your inquiry and will be in touch.</h2>
    <button
        class="text-xl border-2 border-blue-900 hover:bg-blue-900 hover:text-white py-3 px-6 transition-colors duration-75 ease-linear"
        onclick="previousPage();">Previous Page</button>
</div>